/* may need to set colors for header/hero, body, and footer containers seperatly*/
body {
  background-color: orange;
}
.container {
  background-color: green;
}
#fateSeries {
  border: 2px solid blue;
}
.tabs is-boxed {
  background-color: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 4%);
}
/*on click needed to change tabs*/
