/* may need to set colors for header/hero, body, and footer containers seperatly*/
body {
  background-color: orange;
}
.container {
  background-color: green;
}
#cipuPlanets {
  border: 2px solid purple;
}

#cipuCharacters {
  border: 1px dotted black;
}
/*an outline of where everything is and how styles are used in bulma*/
/*dont stress about how atrocious the colors are use them as a guide*/
